<head>
  <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
  <link href='/css/custom.css' rel="stylesheet" type="text/css">
  <script src='/socket.io-client/socket.io.js'></script>
  <script src='/client.js'></script>
</head>
<div class="container">
  <div class="title">Grill Keeper</div>
  <div class="row" id='currentTempValue'>Current Temp  : <%= currentTemp %>&deg;F</div>
  <div class="row" id='targetTempValue'>Target Temp  : <%= targetTemp %>&deg;F</div>
  <div class="row">
    <button id='downButton' class="button-primary">Lower Temp</button>
    <button id='upButton' class="button-primary">Raise Temp</button>
  </div>
  <div class="row">
    <label><input type='checkbox' id='fanCheckBox' onchange='checkboxChanged(this);'>Control Fan</label>
  </div>
</div>
