<head>
<link href="/css/corben.css" rel="stylesheet" type="text/css">
<link href="/css/nobile.css" rel="stylesheet" type="text/css">
<link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>Grill Keeper</h1>
  <div>
    Current Temp: <%= currentTemp %>
    Ideal Temp  : <%= idealTemp %>
  </div>
</body>
