<head>
  <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
  <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>Grill Keeper</h1>
  <div>
    Current Temp: <%= currentTemp %>
    <br />
    Ideal Temp  : <%= idealTemp %>
  </div>
</body>
