<head>
  <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
  <link href="/css/index.css" rel="stylesheet" type="text/css">
  <link href='/css/jquery.mobile.custom.structure.min.css' rel="stylesheet" type="text/css">
  <link href="/css/jquery.mobile.custom.theme.min.css" rel="stylesheet" type="text/css">
  <script src='/socket.io-client/socket.io.js'></script>
  <script src='/jquery.mobile.custom.min.js'></script>
  <script src='/client.js'></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <h1>Grill Keeper</h1>
  </header>
  <div class="currentTemp">
    <p class='label'>Current Temp:</p>
    <p id='currentTempValue' class='value'><%= currentTemp %></p>
  </div>
  <div class="targetTemp">
    <p class='label'>Target Temp  : </p>
    <p id='targetTempValue' class='value'><%= targetTemp %></p>
  </div>
  <fieldset class="ui-grid-a">
    <div class="ui-block-a"><button id='upButton' data-theme="c" class=" ui-btn ui-btn-a ui-shadow ui-corner-all">Raise Temp</button></div>
    <div class="ui-block-b"><button id='downButton' data-theme="c" class=" ui-btn ui-btn-a ui-shadow ui-corner-all">Lower Temp</button></div>
  </fieldset>
</body>
